<%= render "shared/page_header", heading: "Articles listing page", actions: logged_in? ? [
  {
    title: "Create new Article",
    path: new_article_path,
    icon: "post_add",
    class: "btn btn-primary"
  }
] : [] %>

<% if @articles.empty? %>
  <div class="alert alert-info">
    No articles found.
  </div>
<% else %>
  <%= will_paginate @articles, class: "pagination" %>
  <%= render "articles_list", articles: @articles %>
  <%= will_paginate @articles, class: "pagination" %>
<% end %>