<% safe_actions = local_assigns[:actions].nil? ? [] : actions %>

<div class="flex justify-between items-center h-12 mb-4">
  <h2 class="heading"><%= heading %></h2>

  <% unless safe_actions.empty? %>
    <div class="flex gap-2">
      <% safe_actions.each do |action| %>
        <%= link_to raw(
          render(IconComponent.new(symbol: action[:icon])) + action[:title]
        ), action[:path], data: action[:turbo_data], class: action[:class] %>
      <% end %>
    </div>
  <% end %>
</div>