<div class="fixed bottom-8 left-1/2 -translate-x-1/2 flex flex-col-reverse gap-2 z-50">
  <% flash.each do |name, msg| %>
    <div class="flash-message <%= name %>">
      <%= msg %>
    </div>
  <% end %>
</div>